/ConsoleApplication1/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/ConsoleApplication1/Properties/AssemblyInfo.cs
/ConsoleApplication1/obj/x86/Debug/ConsoleApplication1.csprojAssemblyReference.cache
/.idea/.idea.ConsoleApplication1/.idea/encodings.xml
/.idea/.idea.ConsoleApplication1/.idea/indexLayout.xml
